@import "../css/reset.css";
header {
    height: 90px;
    background: #0073A1;
}
.container {
    width: 1140px;
    margin: 0 auto;

}
h1, div, h2, p, span {
    font-family: 'Open Sans';
    font-style: normal;
}
.heading {
    margin-top: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #555555;
    border-bottom: 1px solid #000000;
}
.first-paragraph {
    height: 67px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
}
.text-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #003471;
}
.two-card, .three-card {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
.text {
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: block;
}
.card-first {
    margin-top: 60px;
}
.card-second {
    margin-top: 25px;
}
.card-third {
    margin-top: 25px;
    margin-bottom: 60px;
}
.first-text-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #0073A1;
    padding: 28px 40px;
}
.second-text-paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #555555;
    padding-left: 40px;
    padding-right: 40px;
}
button {
    height: 60px;
    width: 230px;
    background: #0073A1;
    cursor: pointer;
    border-radius: 40px;
    margin-bottom: 225px;
}
.text-button {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
button:hover {
    background: #0e4a62;
}